
.metadata/version.ini

.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties

.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml

.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml

.metadata/.plugins/org.eclipse.team.cvs.core/.running

.metadata/.lock

.metadata/.log

.metadata/.mylyn/.taskListIndex/segments_1

*.gen

.metadata/.mylyn/.tasks.xml.zip

.metadata/.mylyn/repositories.xml.zip

.metadata/.mylyn/tasks.xml.zip

.metadata/.plugins/org.eclipse.cdt.core/.log

.metadata/.plugins/org.eclipse.cdt.make.core/specs.c

.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp

.metadata/.plugins/org.eclipse.core.resources/.projects/FTDriver/.indexes/a0/d6/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/FTDriver/.indexes/a0/de/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/FTDriver/.indexes/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/FTDriver/.syncinfo.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/FTDriver/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/FTDriverTutorial1/.indexes/a0/5f/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/FTDriverTutorial1/.indexes/a0/d6/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/FTDriverTutorial1/.indexes/a0/de/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/FTDriverTutorial1/.indexes/a0/eb/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/FTDriverTutorial1/.indexes/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/FTDriverTutorial1/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/FTDriverTutorial1/.syncinfo.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/FTSampleTerminal/.indexes/a0/17/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/FTSampleTerminal/.indexes/a0/d6/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/FTSampleTerminal/.indexes/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/FTSampleTerminal/.indexes/a0/de/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/FTSampleTerminal/.markers.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/FTSampleTerminal/.syncinfo.snap

.metadata/.plugins/org.eclipse.core.resources/.projects/OpenCV Library - 2.4.10/.indexes/a0/de/properties.index

*.index

*.snap

*.version

*.tree

*.resources

*.prefs

*.launch

*.xml

*.xmi

.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache

.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

*.dat

.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png

.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log

.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties

FTDriver/bin/ftdriver.jar

*.txt

*.png

*.png

*.png

*.png

*.png

*.png
